// variables.less

@white: #FFFFFF;
@black: #000000;

@blue1: #0088CC;

@default-text-color: #777777;

@phy-navbar-link-color: @default-text-color;
@phy-navbar-link-hover-color: lighten(@default-text-color,20%);

@phy-carousel-border-radius: 10px;

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;