==
<?php

function onShowContent()
{
$this->page->addVisible('protectionCode');
$pageCode = $this->page->protectionCode;
$submitCode = post('codeProtection');

$this['hasAccess']=false;
if($pageCode == $submitCode) {
$this['hasAccess']=true;
$this['hasAccessTo']=$this->page->id;
}

}

function onStart()
{
session_start();

$this->page->addVisible('protectionCode');
$pageCode = $this->page->protectionCode;

if(!empty($pageCode)){
$this['emptyCode'] = false;
} else {
$this['emptyCode'] = true;
}

$this['hasAccess'] = false;
if(isset($_SESSION['hasAccess']) and isset($_SESSION['hasAccessTo'])) {
$this['hasAccess']= $_SESSION['hasAccess'];
$this['hasAccessTo']= $_SESSION['hasAccessTo'];

if($this['hasAccess'] and $this['hasAccessTo']==$this->page->id){
$_SESSION['hasAccess'] = true;
} else {
$_SESSION['hasAccess'] = false;
}
$this['hasAccess']= $_SESSION['hasAccess'];
$this['hasAccessTo']= $_SESSION['hasAccessTo'];

}

if(isset($_GET['error'])) {
$this['errorCode']= $_GET['error'];
}

}
?>
==


{% put page_content %}


{% if (hasAccess or emptyCode) %}
<div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-4">
        {% page %}
    </div>
    <div class="col-xs-12 col-md-4">
        {% placeholder right_column %}
    </div>
</div>
{% endif %}
{% if ( not emptyCode and not hasAccess ) %}
<div class="container">
    {% partial 'page_protection_form' %}
</div>
{% endif %}


{% endput %}

{% partial 'layouts/base.htm' description="Simple 2 columns" %}
